.URLM-container {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.URLM-container h1{
    font-size: 36px;
    color: #deb23a;
}

.URLM-container p{
    font-size: 18px;
    color: #000000;
    opacity: .5;
}
.managers-holder{
    width: 60%;
    display: inline-block;
}

.URLM-button{
    float: left;
    margin-right: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 20px;
}

.URLM-button:hover{
    opacity: .5;
}

.add-button {
    width: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.add-button:hover {
    width: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: green;
    opacity: 1;
}

.manager-input{
    float: left;
    width: 150px;
    margin-left: 10px;
    outline: none;
    padding-left: 10px;
    border: 1px solid #deb23a;
    border-radius: 25px;
    color: #deb23a;
}

.manager-button{
    float: left;
    margin-left: 10px;
    cursor: pointer;
    background-color: white;
    color: #deb23a;
    outline: none;
    border-radius: 25px;
    border: 1px solid #deb23a;
}

.manager-button:hover{
    background-color: black;
}

.search-input{
    width: 200px;
    margin-right: 10px;
    padding-left: 10px;
    outline: none;
    border: 1px #deb23a solid;
    border-radius: 25px;
    color: #deb23a;
}

.search-button{
    margin-left: 10px;
    cursor: pointer;
    background-color: white;
    color: #deb23a;
    outline: none;
    border-radius: 25px;
    border: 1px solid #deb23a;
}

.search-button:hover{
    background-color: black;
}

.bookmark-holder{
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

.bookmark-holder h1{
    float: left;
    font-size: 24px;
    width: 40%;
    text-align: left;
    margin-top: 10px;
}

.bookmark-holder a{
    float: left;
    font-size: 16px;
    width: 40%;
    text-align: left;
    margin-top: 20px;
    text-decoration: none;
    outline: none;
    color: black;
    cursor: pointer;
}

.bookmark-holder a:hover{
    opacity: .5;
}

.bookmark-holder span{
    float: right;
    font-size: 24px;
    width: 10%;
    text-align: right;
    margin-top: 15px;
    color: red;
    cursor: pointer;
}

.bookmark-holder span:hover{
    opacity: .5;
}

.edit-button{
    color: black;
    cursor: pointer;
}

.edit-button:hover{
    opacity: .5;
}

.edit-buttons{
    cursor: pointer;
    background-color: white;
    color: #deb23a;
    outline: none;
    border-radius: 25px;
    border: 1px solid #deb23a;
    float: right;
    width: 9%;
    margin-left: 1%;
}

.edit-buttons:hover{
    background-color: black;
}